input{
    width: 80%;
}
#submitHead{
    display: none;
}
.App-header {
    margin-top: 0;
    background-color: #ffffff;
    height: 90px;
    width: 100%;
    /* position: fixed; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    box-shadow: 0 3px 10px grey;
    margin-bottom: 4%;
  }